<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>

    <!--<add key="ProxyUri" value="http://172.21.200.37:3128" />-->

    <add key="HotelLookUpToDistanceInMeters" value="500" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="GoogleKey" value="AIzaSyBAbYHJn_5Kubmfa4-nYyAf_WpHB9mbfvc" />

    <add key="MLSVCURL_Syntactic" value="http://dev-app-aiml.travelogixx.net:9019" />
    <add key="MLSVCURL_Semantic" value="http://dev-app-aiml.travelogixx.net:9018" />
    <add key="MLSVCURL_Supervised_Semantic" value="http://dev-app-aiml.travelogixx.net:9017" />
    <add key="MLSVCURL_Broker" value="http://dev-app-aiml.travelogixx.net:9015/Broker/v1/mappingRequest" />
    <add key="MLSVCURL_DataApi" value="http://dev-app-aiml.travelogixx.net:9016" />

    <add key="DataTransferBatchSize" value="1000" />
    <add key="DataTransferForTrainingDataMappingStatus" value="'MAPPED'"></add>
    <add key="MLSVCURL_DataApi_Post_MasterAccommodationRecord" value="/MasterAccommodationRecord/many" />
    <add key="MLSVCURL_DataApi_Post_MasterAccommodationRoomFacilities" value="/MasterAccommodationRoomFacilities/many" />
    <add key="MLSVCURL_DataApi_Post_MasterAccommodationRoomInformation" value="/MasterAccommodationRoomInformation/many" />
    <add key="MLSVCURL_DataApi_Get_MasterAccommodationRoomInformation_ByAccoId" value="/MasterAccommodationRoomInformation/{0}" />
    <!--AccommodationId-->
    <add key="MLSVCURL_DataApi_Get_MasterAccommodationRoomInformation_ByAccoRoomId" value="/MasterAccommodationRoomInformation/room/{0}" />
    <!--AccommodationRoomInfoId-->
    <add key="MLSVCURL_DataApi_Post_RoomTypeMatching" value="/RoomTypeMatching/many" />
    <add key="MLSVCURL_DataApi_Post_StopList" value="/StopList/many" />
    <add key="MLSVCURL_DataApi_Get_StopList" value="/StopList/unique" />
    <add key="MLSVCURL_DataApi_Post_SupplierAccommodationData" value="/SupplierAccommodationData/many" />
    <add key="MLSVCURL_DataApi_Post_SupplierAccommodationRoomData" value="/SupplierAccommodationRoomDataInsert/many" />
    <add key="MLSVCURL_DataApi_Get_SupplierAccommodationRoomData_ByAccoId" value="/SupplierAccommodationRoomData/{0}" />
    <!--AccommodationId-->
    <add key="MLSVCURL_DataApi_Post_SupplierAccommodationRoomExtendedAttributes" value="/SupplierAccommodationRoomExtendedAttributes/many" />
    <add key="MLSVCURL_DataApi_Get_SupplierAccommodationRoomExtendedAttributes_ByRoomTypeMapId" value="/SupplierAccommodationRoomExtendedAttributes/{0}" />
    <!--RoomTypeMapId-->


    <!--ML DATA API Self call-->
    <add key="MLSVCURL_DataApi_MasterAccommodationRecord" value="/ML/Master/Accommodation/" />
    <add key="MLSVCURL_DataApi_MasterAccommodationRoomFacilities" value="/ML/Master/AccommodationRoomFacilities/" />
    <add key="MLSVCURL_DataApi_MasterAccommodationRoomInfo" value="/ML/Master/AccommodationRoomInformation/" />
    <add key="MLSVCURL_DataApi_RoomTypeMatching" value="/ML/RoomTypeMatching/" />
    <add key="MLSVCURL_DataApi_SupplierAccommodationData" value="/ML/Supplier/AccommodationData/" />
    <add key="MLSVCURL_DataApi_SupplierAccommodationRoomData" value="/ML/Supplier/AccommodationRoomData/" />
    <add key="MLSVCURL_DataApi_SupplierAccommodationRoomExtendedAttributes" value="/ML/Supplier/AccommodationRoomExtendedAttributes/" />

    <!-- ML data For RoomType Training Data -->
    <add key="MLSVCURL_DataApi_RoomTypeMatching_Delete" value="/RoomTypeMatching/many/" />
    <!--Internal Call for Async Call-->
    <add key="MLSVCURL_DataApi_RoomTypeMatching_DeleteTrainingData" value="/ML/Supplier/DeleteTrainingData/" />
    <add key="MLSVCURL_DataApi_RoomTypeMatching_TrainingDataPushToAIML" value="/ML/Supplier/TrainingDataPushToAIML/" />
    
    
    
    

    <!-- TEST and PROCESS Static File -->
    <add key="DHSVCURL" value="http://localhost:64450/DataHandlerService.svc" />
    <add key="Data_Handler_Process_File" value="/ProcessFile" />
    <add key="Data_Handler_Read_Test_File" value="/TestFile/Read" />
    <add key="Data_Handler_Transform_Test_File" value="/TestFile/Transform" />
    <add key="Data_Handler_Upload_File_InChunks" value="/File/Upload" />
    <!--<add key="DHSVCURL" value="http://localhost:63544" />
    <add key="Data_Handler_Process_File" value="/api/file/process" />
    <add key="Data_Handler_Read_Test_File" value="/api/file/read" />
    <add key="Data_Handler_Transform_Test_File" value="/api/file/transform" />-->
    <!--SQL To MONGO SERVICE DETAILS-->
    <add key="MONGOSVCURL" value="http://localhost:63155/MapperSvc.svc" />
    <add key="Delete_ActivityMapping" value="/Delete/ActivityMapping/MapId/{0}" />
    <add key="Delete_ActivityMaster" value="/Delete/ActivityMaster/ActivityId/{0}" />
    <add key="Delete_CityMapping" value="/Delete/CityMapping/MapId/{0}" />
    <add key="Delete_CityMaster" value="/Delete/CityMaster/Code/{0}" />
    <add key="Delete_CountryMapping" value="/Delete/CountryMapping/MapId/{0}" />
    <add key="Delete_CountryMaster" value="/Delete/CountryMaster/Code/{0}" />
    <add key="Delete_HotelMapping" value="/Delete/HotelMapping/MapId/{0}" />
    <add key="Delete_HotelMaster" value="/Delete/HotelMaster/HotelId/{0}" />
    <add key="Delete_SupplierMaster" value="/Delete/SupplierMaster/Code/{0}" />
    <add key="Insert_ActivityMapping" value="/Insert/ActivityMapping/MapId/{0}" />
    <add key="Insert_ActivityMaster" value="/Insert/ActivityMaster/ActivityId/{0}" />
    <add key="Insert_CityMapping" value="/Insert/CityMapping/MapId/{0}" />
    <add key="Insert_CityMaster" value="/Insert/CityMaster/Code/{0}" />
    <add key="Insert_CountryMapping" value="/Insert/CountryMapping/MapId/{0}" />
    <add key="Insert_CountryMaster" value="/Insert/CountryMaster/Code/{0}" />
    <add key="Insert_HotelMapping" value="/Insert/HotelMapping/MapId/{0}" />
    <add key="Insert_HotelMaster" value="/Insert/HotelMaster/HotelId/{0}" />
    <add key="Insert_SupplierMaster" value="/Insert/SupplierMaster/Code/{0}" />
    <add key="Update_ActivityMapping" value="/Update/ActivityMapping/MapId/{0}" />
    <add key="Update_ActivityMaster" value="/Update/ActivityMaster/ActivityId/{0}" />
    <add key="Update_CityMapping" value="/Update/CityMapping/MapId/{0}" />
    <add key="Update_CityMaster" value="/Update/CityMaster/Code/{0}" />
    <add key="Update_CountryMapping" value="/Update/CountryMapping/MapId/{0}" />
    <add key="Update_CountryMaster" value="/Update/CountryMaster/Code/{0}" />
    <add key="Update_HotelMapping" value="/Update/HotelMapping/MapId/{0}" />
    <add key="Update_HotelMaster" value="/Update/HotelMaster/HotelId/{0}" />
    <add key="Update_SupplierMaster" value="/Update/SupplierMaster/Code/{0}" />
    <add key="Load_ActivityMapping" value="/Load/ActivityMapping/{0}" />
    <add key="Load_ActivityMappingLite" value="/Load/ActivityMappingLite" />
    <add key="Load_CityMapping" value="/Load/CityMapping/{0}" />
    <add key="Load_CityMaster" value="/Load/CityMaster/{0}" />
    <add key="Load_CountryMapping" value="/Load/CountryMapping/{0}" />
    <add key="Load_CountryMaster" value="/Load/CountryMaster/{0}" />
    <add key="Load_HotelDefinition" value="/Load/HotelDefinition" />
    
    <add key="Load_ProductMapping" value="/Load/ProductMapping/{0}/{1}" />
    
    <add key="Load_ProductMappingLite" value="/Load/ProductMappingLite/{0}/{1}" />
    
    <add key="Load_SupplierMaster" value="/Load/SupplierMaster/{0}" />
    <add key="Sync_Activity_Flavour" value="/Sync/ActivityDefinition/{0}" />
    <add key="Load_ActivityFlavourBySupplier" value="/Load/ActivityDefinitionBySupplier/{0}/{1}" />
    
    <!--<add key="Load_HotelMapping" value="/Load/HotelMapping/{0}" />-->
    
    <add key="Load_PortMaster" value="/Load/PortMaster/{0}" />
    <add key="Load_StateMaster" value="/Load/StateMaster/{0}" />
    <!--ZoneMaster and ZoneTypeMaster-->
     <add key="Load_ZoneMaster" value="/Load/ZoneMasters/{0}" />
    <add key="Load_ZoneTypeMaster" value="/Load/ZoneTypeMaster/{0}" />

    <add key="Load_AccommodationMaster" value="/Load/MasterAccommodation/{0}/{1}" />
    <add key="Load_SupplierStaticHotels" value="/Load/AccoStaticData//{0}/{1}" />
    <add key="Load_RoomTypeMapping" value= "Load/HotelRoomTypeMapping/{0}/{1}" />

    <add key="PENTAHOSVCURL" value="http://dev-app-mwcf.travelogixx.net:9005/kettle/" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2048000" />
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <clear />
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".ASPXROLES" cookieTimeout="1030" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All" createPersistentCookie="false" maxCachedResults="25" defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
    </serviceHostingEnvironment>
    <services>
      <service behaviorConfiguration="default" name="ConsumerSvc.Consumer">
        <endpoint address="" behaviorConfiguration="webBehaviour" binding="webHttpBinding" bindingConfiguration="svcBinding" contract="OperationContracts.IConsumer" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="default" name="ConsumerSvc.StaticDataHandler">
        <endpoint address="" behaviorConfiguration="webBehaviour" binding="webHttpBinding" bindingConfiguration="svcBinding" contract="OperationContracts.IStaticDataHandler" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="ConsumerSvc.TransferService">
        <endpoint address="" behaviorConfiguration="TransferServiceBehaviour" binding="basicHttpBinding" bindingConfiguration="TransferService" contract="OperationContracts.IFileTransfer" />
      </service>
    </services>
    <bindings>

      <webHttpBinding>
        <binding name="svcBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
          </security>
        </binding>
      </webHttpBinding>

      <basicHttpBinding>
        <binding name="TransferService" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed" messageEncoding="Mtom" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
      </basicHttpBinding>

    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehaviour">
          <webHttp helpEnabled="true" defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="false" faultExceptionEnabled="false" />
        </behavior>

        <behavior name="TransferServiceBehaviour">
          <dispatcherSynchronization asynchronousSendEnabled="true" />
        </behavior>

      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="default">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="ConsumerEntities" connectionString="metadata=res://*/ConsumerModel.csdl|res://*/ConsumerModel.ssdl|res://*/ConsumerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SIT-DB-MMSSQL.TRAVELOGIXX.NET,21443;initial catalog=TLGX_MAPPING;persist security info=True;user id=sqldata;password=V4m4nC3n7r36f!00r^c4b1n2;MultipleActiveResultSets=True;App=EntityFramework;Connection Timeout=180;&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=SIT-DB-MMSSQL.TRAVELOGIXX.NET,21443;Initial Catalog=TLGX_MAPPING;User ID=sqldata;Password=V4m4nC3n7r36f!00r^c4b1n2;MultipleActiveResultSets=True;Connection Timeout=180;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>