<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="GoogleKey" value="AIzaSyBAbYHJn_5Kubmfa4-nYyAf_WpHB9mbfvc" />
    <!-- TEST and PROCESS Static File -->
    <add key="DHSVCURL" value="http://10.21.32.196:8002/DataHandlerService.svc" />
    <add key="Data_Handler_Process_File" value="/ProcessFile" />
    <add key="Data_Handler_Read_Test_File" value="/TestFile/Read" />
    <add key="Data_Handler_Transform_Test_File" value="/TestFile/Transform" />
    <!--<add key="DHSVCURL" value="http://localhost:63544" />
    <add key="Data_Handler_Process_File" value="/api/file/process" />
    <add key="Data_Handler_Read_Test_File" value="/api/file/read" />
    <add key="Data_Handler_Transform_Test_File" value="/api/file/transform" />-->
    <!--SQL To MONGO SERVICE DETAILS-->
    <add key="MONGOSVCURL" value="http://10.21.32.196:8000/MapperSvc.svc" />
    <add key="Delete_ActivityMapping" value="/Delete/ActivityMapping/MapId/{0}" />
    <add key="Delete_ActivityMaster" value="/Delete/ActivityMaster/ActivityId/{0}" />
    <add key="Delete_CityMapping" value="/Delete/CityMapping/MapId/{0}" />
    <add key="Delete_CityMaster" value="/Delete/CityMaster/Code/{0}" />
    <add key="Delete_CountryMapping" value="/Delete/CountryMapping/MapId/{0}" />
    <add key="Delete_CountryMaster" value="/Delete/CountryMaster/Code/{0}" />
    <add key="Delete_HotelMapping" value="/Delete/HotelMapping/MapId/{0}" />
    <add key="Delete_HotelMaster" value="/Delete/HotelMaster/HotelId/{0}" />
    <add key="Delete_SupplierMaster" value="/Delete/SupplierMaster/Code/{0}" />
    <add key="Insert_ActivityMapping" value="/Insert/ActivityMapping/MapId/{0}" />
    <add key="Insert_ActivityMaster" value="/Insert/ActivityMaster/ActivityId/{0}" />
    <add key="Insert_CityMapping" value="/Insert/CityMapping/MapId/{0}" />
    <add key="Insert_CityMaster" value="/Insert/CityMaster/Code/{0}" />
    <add key="Insert_CountryMapping" value="/Insert/CountryMapping/MapId/{0}" />
    <add key="Insert_CountryMaster" value="/Insert/CountryMaster/Code/{0}" />
    <add key="Insert_HotelMapping" value="/Insert/HotelMapping/MapId/{0}" />
    <add key="Insert_HotelMaster" value="/Insert/HotelMaster/HotelId/{0}" />
    <add key="Insert_SupplierMaster" value="/Insert/SupplierMaster/Code/{0}" />
    <add key="Update_ActivityMapping" value="/Update/ActivityMapping/MapId/{0}" />
    <add key="Update_ActivityMaster" value="/Update/ActivityMaster/ActivityId/{0}" />
    <add key="Update_CityMapping" value="/Update/CityMapping/MapId/{0}" />
    <add key="Update_CityMaster" value="/Update/CityMaster/Code/{0}" />
    <add key="Update_CountryMapping" value="/Update/CountryMapping/MapId/{0}" />
    <add key="Update_CountryMaster" value="/Update/CountryMaster/Code/{0}" />
    <add key="Update_HotelMapping" value="/Update/HotelMapping/MapId/{0}" />
    <add key="Update_HotelMaster" value="/Update/HotelMaster/HotelId/{0}" />
    <add key="Update_SupplierMaster" value="/Update/SupplierMaster/Code/{0}" />
    <add key="Load_ActivityMapping" value="/Load/ActivityMapping" />
    <add key="Load_ActivityMappingLite" value="/Load/ActivityMappingLite" />
    <add key="Load_CityMapping" value="/Load/CityMapping" />
    <add key="Load_CityMaster" value="/Load/CityMaster" />
    <add key="Load_CountryMapping" value="/Load/CountryMapping" />
    <add key="Load_CountryMaster" value="/Load/CountryMaster" />
    <add key="Load_HotelDefinition" value="/Load/HotelDefinition" />
    <add key="Load_ProductMapping" value="/Load/ProductMapping" />
    <add key="Load_ProductMappingLite" value="/Load/ProductMappingLite" />
    <add key="Load_SupplierMaster" value="/Load/SupplierMaster" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <clear />
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".ASPXROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All" createPersistentCookie="false" maxCachedResults="25" defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
    </serviceHostingEnvironment>
    <services>
      <service behaviorConfiguration="default" name="ConsumerSvc.Consumer">
        <endpoint address="" behaviorConfiguration="webBehaviour" binding="webHttpBinding" contract="OperationContracts.IConsumer" bindingConfiguration="svcBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="default" name="ConsumerSvc.StaticDataHandler">
        <endpoint address="" behaviorConfiguration="webBehaviour" binding="webHttpBinding" contract="OperationContracts.IStaticDataHandler" bindingConfiguration="svcBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="svcBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehaviour">
          <webHttp helpEnabled="true" defaultBodyStyle="Wrapped" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="false" faultExceptionEnabled="false" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="default">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="ConsumerEntities" connectionString="metadata=res://*/ConsumerModel.csdl|res://*/ConsumerModel.ssdl|res://*/ConsumerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.21.32.196;initial catalog=TLGX_DEV;persist security info=True;user id=sqldata;password=V4m4nC3n7r36f!00r^c4b1n2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=10.21.32.196;Initial Catalog=TLGX_DEV;User ID=sqldata;Password=V4m4nC3n7r36f!00r^c4b1n2" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-ConsumerSvc-20170823124653;Integrated Security=SSPI" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>